#section-1-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#section-1-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#section-1-img {
    height: 400px;
    display: flex;
    align-items: center;
}
#section-2-container {
    margin-top: 50px;
}
#section-2-container h2 {
    text-align: center;
}
@media (max-width: 991px) {
    .section-1-text {
    }
    .section-1-img {
        max-width: 300px;
        height:auto;
    }
}

@media (max-width: 767px) {
    #section-1-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items:center;
    }
    #section-1-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align:center;
    }
    #section-1-img {
        height: 300px;;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 575px) {

}

@media (max-width: 575px) {
}